/* Naming Convention

_ used to separate words
 
(page name)_(class name/element name)

ex: login_middle_container_content
ex: index-dokter_logout-button

*/

/* Page Title/Separation

It is better to separate each page with a comment, to make it easier to read
Also, you can put notes on the page title that shares with other pages

shared with (got refferenced by another page css)
sharing with (referrencing other page css)

*/

/*
Universal and global
*/

body {
    padding: 0;
    margin: 0;
}

/*
    Login page
*/

.login_background {
    background-image: url('../images/login_background.png');
    background-size: cover;
    height:100vh;
}

.login_middle_container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 375px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.login_close_button_base {
    float: right;
    margin-right: 10px;
    margin-top: 10px;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.login_close_button {
    height: 15px;
}

.login_title {
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 3.5vh;
    font-family: 'Poppins';
    font-style: normal;
}

.login_sub_title_1 {
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.login_sub_title_2 {
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.login_form_title {
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.login_input_and_button {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    display: block;
}

.login_button_clickable {
    text-decoration: none;
}

.login_button {
    background: #3988FF;
    display: block;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #3988FF;
    border: 2px solid #3988FF;
    border-radius: 5px;
}

.login_phone_input {
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}

.login_phone_input_base {
    padding-bottom: 30px;
}

.login_button:hover {
    cursor: pointer;
    animation-name: login_button_ani;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes login_button_ani {
    from {background: #3988FF;}
    to {background: #85b6ff;}
}

.login_otp_button:hover {
    cursor: pointer;
    animation-name: login_button_ani;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
/*
    Login_OTP page
*/

.login_otp_background {
    background-image: url('../images/login_background.png');
    background-size: cover;
    height:100vh;
}

.login_otp_middle_container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 375px;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.login_otp_close_button_base {
    float: right;
}

.login_otp_close_button {
    height: 10px;
}

.login_otp_title {
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 3.5vh;
    font-family: 'Poppins';
    font-style: normal;
}

.login_otp_sub_title_1 {
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.login_otp_sub_title_2 {
    padding-bottom: 40px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.login_otp_form_title {
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}

.login_otp_input_and_button {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    display: block;
}

.login_otp_kirim_ulang_otp_button {
    margin-bottom: 20px;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #5E5E5E;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.login_otp_kirim_ulang_otp_text {
    text-align: center;
}

.login_otp_button_clickable {
    text-decoration: none;
}

.login_otp_button {
    background: #3988FF;
    display: block;
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 40px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #3988FF;
    border: 2px solid #3988FF;
    border-radius: 5px;
}

.login_otp_phone_input {
    width: 48px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.login_otp_phone_input_base {
    padding-bottom: 15px;
}

.logout_button:hover {
    animation-name: logout_button_ani;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

/*
    index_dokter page
    shared with: index pasien, index manajer, index nonnakes, index nakes, index mitra
*/

.header {
    height: 60px;
    background-color:#FFFFFF;
}

.logo {
    font-family: 'Poppins';
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    width: auto;
}

.logout_button {
    margin-top: 10px;
    margin-right: 30px;
    width: 110px;
    height: 40px;
    float: right;
}

.top_banner {
    background-color:#B5CBEB;
    height: 100px;
    padding: 37.5px;
    align-items: center;
    display: flex;
}

.profile_logo {
    height: 75px;
    width: auto;
    margin-left: 50px;
}

.greeting {
    display: inline;
    margin-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 20px;
}

.main {
    margin: auto;
    padding: 24px;
}

.main_dashboard {
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-right: 0px;
}

.dashboard_button {
    box-sizing: border-box;
    display: block;
    padding-top: 24px;
    border: 2px solid #3988FF;
    border-radius: 20px;
    width: 160px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button_clickable {
    text-decoration: none;
}

.button_content {
    text-align: center;
}

.button_logo {
    height: 90px;
    width: auto;
}

.button_title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: black;
}

.button_base {
    padding-right: 40px;
    padding-bottom: 30px;
}

.footer {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

/*
    index_pasien page
    sharing with: index dokter
*/

.top_banner_pasien {
    background-color:#F3BBBB;
}

.dashboard_button_pasien {
    border: 2px solid #866B60;
}

/*
    index_nakes page
    sharing with: index dokter
*/

.top_banner_nakes {
    background-color:#A6DDD6;
}

.dashboard_button_nakes {
    border: 2px solid #5f807b;
}

.main_dashboard_4_tiles{
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 220px;
    margin-right: 220px;
}

/*
    index_nonnakes page
    sharing with: index dokter
*/

.top_banner_nonnakes {
    background-color:#CDE2B8;
}

.dashboard_button_nonnakes {
    border: 2px solid #839176;
}

/*
    index_manajer page
    sharing with: index dokter
*/

.top_banner_manajer {
    background-color:#F9DB8E;
}

.dashboard_button_manajer {
    border: 2px solid #8d7c51;
}

/*
    index_mitra page
    sharing with: index dokter
*/

.top_banner_mitra {
    background-color:#D7C0E9;
}

.dashboard_button_mitra {
    border: 2px solid #9484a1;
}

/*
    universal system information page
*/

.system_information_header {
    height: 60px;
    background-color:#FFFFFF;
}

.system_information_logo {
    font-family: 'Poppins';
    font-weight: 600;
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
    width: auto;
}

.system_information_logout_button:hover {
    animation-name: logout_button_ani;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes logout_button_ani {
    from {width:110px; height: 40px;}
    to {width:120px; height: 42px;}
}

.system_information_logout_button {
    margin-top: 10px;
    margin-right: 30px;
    width: 110px;
    height: 40px;
    float: right;
}

.system_information_header_line {
    width: 100%;
    height: 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.system_information_footer {
    position:fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color:#B5CBEB;
}

/*
    konsultasi page 
    Shared with page: visite, rujukan, buat surat, schedule, profile, setting, about, pasien, pembayaran, data, feedback
*/

.konsultasi_content {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.konsultasi_back_button_clickable {
    text-decoration: none;
}

.konsultasi_title_navigation {
    margin-bottom: 15px;
}

.konsultasi_back_button {
    width: auto;
    height: 20px;
    float: left;
    margin-left: 0px;
}
.konsultasi_back_button:hover {
    animation-name: back_button_ani;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes back_button_ani {
    from {margin-left: 0px;}
    to {margin-left: -10px;}
}


.konsultasi_title {
    display: inline-flex;
    position: relative;
    margin-left: 10px;
    bottom: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #3988FF;
}

.konsultasi_nomor_urut_pasien_base {
    float: left;
    width: 330px;
    height:460px;
    
    background-color:rgba(181, 203, 235, 0.3);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.konsultasi_nomor_urut_pasien_title {
    margin-top: 10px;
    margin-left: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;

    color: #000000;
}

.konsultasi_informasi_pasien_base {
    float: left;
    margin-left: 30px;
    width: 830px;
    height: 460px;

    background-color: rgba(255, 224, 146, 0.3);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.konsultasi_pasien_logo {

    height: 55px;
    width: auto;
    margin-left: 15px;
    margin-top: 15px;
}

.konsultasi_informasi_pasien_nama {
    display: inline-flex;
    position: relative;
    margin-left: 15px;
    bottom: 35px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.konsultasi_informasi_pasien_usia {
    display: inline-flex;
    position: relative;
    margin-left: 20px;
    right: 135px;
    bottom: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.konsultasi_informasi_pasien_tekanan_darah {
    display: inline-flex;
    position: relative;
    bottom: 45px;
    left: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.konsultasi_informasi_pasien_tekanan_darah_data{
    position: absolute;
    top: 20px;

    background-color: white;
    width: 170px;
    height: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.konsultasi_informasi_pasien_berat_tinggi{
    display: inline-flex;
    position: relative;
    bottom: 45px;
    left: 225px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.konsultasi_informasi_pasien_berat_tinggi_data{
    position: absolute;
    top: 20px;

    background-color: white;
    width: 200px;
    height: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.konsultasi_informasi_pasien_hasil_pemeriksaan{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}

.konsultasi_informasi_pasien_hasil_pemeriksaan_tambah_button{
    float: right;
    position: relative;
    top: 5px;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.konsultasi_informasi_pasien_hasil_pemeriksaan_tambah_image{
    width: auto;
    height: 20px;
}

.konsultasi_informasi_pasien_hasil_pemeriksaan_data{

    background-color: white;
    width: 100%;
    height: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.konsultasi_informasi_pasien_resep_obat{
    margin-left: 15px;
    margin-right: 30px;
    margin-bottom: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
}

.konsultasi_informasi_pasien_hasil_pemeriksaan_resep_obat_tambah_button{
    float: right;
    position: relative;
    top: 5px;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.konsultasi_informasi_pasien_hasil_pemeriksaan_resep_obat_image{
    width: auto;
    height: 20px;
}

.konsultasi_informasi_pasien_resep_obat_data{
    background-color: white;
    width: 100%;
    height: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.konsultasi_informasi_pasien_footer{
    margin-left: 15px;
    margin-right: 30px;
}

.konsultasi_informasi_pasien_footer_Rujukan{
    font-family: 'Poppins';
    float: left;
}

.konsultasi_informasi_pasien_footer_Rujukan_button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.konsultasi_informasi_pasien_footer_Rujukan_image{
    position: relative;
    top: 5px;
    width: auto;
    height: 20px;
}

.konsultasi_informasi_pasien_footer_Buat_Surat{
    font-family: 'Poppins';
    float: right;
}

.konsultasi_informasi_pasien_footer_Rujukan_button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.konsultasi_informasi_pasien_footer_Rujukan_image{
    position: relative;
    top: 5px;
    width: auto;
    height: 20px;
}

/*
    visite page
    sharing with page: konsultasi
*/

.visite_jadwal_visite_list{

}

.visite_jadwal_visite_list_title{
    margin-top: 25px;
    margin-left: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 5px;
}

.visite_jadwal_visite_list_sub_title{
    margin-top: 10px;
    margin-left: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
}

.visite_jadwal_visite_list_waktu{
    position: relative;
    left: 55%;
    bottom: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}


.visite_jadwal_visite_list_kondisi {
    display: block;
    position: relative;
    left: 270px;
    bottom: 50px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

/* Hide the browser's default checkbox */
.visite_jadwal_visite_list_kondisi input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.visite_jadwal_visite_list_kondisi_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  
  border: 2px solid black;
  border-radius: 15px;
}

/* On mouse-over, add a grey background color */
.visite_jadwal_visite_list_kondisi:hover input ~ .visite_jadwal_visite_list_kondisi_checkmark {
    background-color: #ccc;
}
  
  /* When the checkbox is checked, add a green background */
.visite_jadwal_visite_list_kondisi input:checked ~ .visite_jadwal_visite_list_kondisi_checkmark {
    background-color: greenyellow;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.visite_jadwal_visite_list_kondisi_checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.visite_jadwal_visite_list_kondisi input:checked ~ .visite_jadwal_visite_list_kondisi_checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.visite_jadwal_visite_list_kondisi .visite_jadwal_visite_list_kondisi_checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
    rujukan page
    sharing with page: konsultasi
    shared with: buat rujukan page
*/

.rujukan_content{
    margin-top: 20px;
    padding: 40px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.rujukan_nama_pasien{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.rujukan_nama_pasien_input_base {
    margin-top: 2.5px;
}

.rujukan_nama_pasien_input {
    width: 290px;
    height: 30px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.rujukan_jaminan_pasien_input {
    width: 290px;
    height: 30px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.rujukan_jaminan_pasien{
    display: inline-block;
    position: relative;
    bottom: 58px;
    left: 325px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.rujukan_buat_rujukan_button:hover {
    cursor: pointer;
    animation-name: rujukan_button_ani;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}
@keyframes rujukan_button_ani {
    from {width: 20%; height: 40px;}
    to {width: 21%; height: 45px;}
}

.rujukan_jaminan_pasien_input_base {
    margin-top: 2.5px;
}

.rujukan_jenis{
    position: relative;
    bottom: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.rujukan_jenis_input_base {
    margin-top: 2.5px;
}

.rujukan_jenis_input {
    width: 290px;
    height: 30px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.rujukan_keterangan{
    position: relative;
    bottom: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.rujukan_keterangan_input_base {
    margin-top: 2.5px;
}

.rujukan_keterangan_input {
    width: 100%;
    height: 125px;


    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.rujukan_buat_rujukan_button {
    display:inline-block;
    position: relative;
    left: 450px;
    box-sizing: border-box;
    color: black;
    width: 20%;
    height: 40px;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #FDB909;
    border: 2px solid #FDB909;
    border-radius: 5px;
}

/*
    buat surat page
    sharing with page: rujukan, konsultasi
*/

.buat_surat_jenis_surat{
    width: 300px;
    height: 35px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.buat_surat_tanda_tangan_dokter_title{
    display: inline-block;
    position: relative;
    bottom: 2.5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
}

/*
    Schedule page
    sharing with : konsultasi
*/

.schedule_upcoming_activities_base{
    float: left;
    width: 330px;
    height:460px;
    
    background-color:#FFE092;
    border-radius: 8px;
}

.schedule_upcoming_activities_content{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.schedule_upcoming_activities_title{
    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.schedule_upcoming_activity_add_button{
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 250px;
    margin-bottom: 15px;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.schedule_upcoming_activity_add_button_image{
    width: auto;
    height: 20px;
}


.schedule_upcoming_activity{
    display: grid;
    margin-bottom: 20px;
    width: 290px;
    height: 64px;
}

.schedule_upcoming_activity_title{
    font-family: 'Poppins';
    font-weight: bold;
}

.schedule_upcoming_activity_time{
    font-family: 'Poppins';
}   

.schedule_upcoming_activity_place{
    font-family: 'Poppins';
    margin-bottom: 5px;
}

.schedule_upcoming_activity_line{
    width: 100%;
    height: 5px;
    background-color: #F0960E;
}

.schedule_calendar_base{
    float: left;
    margin-left: 30px;
    width: 830px;
    height: 460px;

    background-color: rgb(255, 224, 146, 0.19);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.schedule_calendar_header{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.schedule_calendar_title{
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.schedule_calendar_previous_month_button{
    display: inline-block;
    float: right;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.schedule_calendar_previous_month_image{
    height: 20px;
    width: auto;
}

.schedule_calendar_month{
    float: right;
    margin-left: 10px;
    margin-right: 10px;

    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #F0960E;
}

.schedule_calendar_following_month_button{
    float: right;
    display: inline-block;

    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.schedule_calendar_following_month_image{
    width: 20px;
    height: auto;
}

.schedule_calendar_grid{
    display: grid;
    height: 380px;
    margin-top: 10px;
    
    grid-template-columns: 107.5px 107.5px 107.5px 107.5px 107.5px 107.5px 107.5px;
}

.schedule_calendar_grid_container{
    border: 0.1px solid black;
}

.schedule_calendar_grid_container_isactive{
    width: 20px;
    height: 20px;
}

#schedule_calendar_grid_container_isactive_true{
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 100%;
    background-color: #FF8A8A;
}

#schedule_calendar_grid_container_isactive_false{

}

.schedule_calendar_grid_container_date{
    float: right;
    position: relative;
    bottom: 20px;
    right: 20px;
}

.schedule_calendar_grid_container_content{
    font-family: 'Poppins';
    margin: 10px;
    margin-top: 10px;
}


/*
    profile page
    sharing with : konsultasi
*/

.profile_main_logo{
    width: auto;
    height: 100px;
}

.profile_main_profile{
    display: inline-block;

}

.profile_main_name{
    display: inline-block;
    position: relative;
    bottom: 60px;
    margin-left: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

.profile_main_role{
    display: inline-block;
    position: relative;
    right: 55px;
    bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.profile_role{
    display: inline-block;
    position: relative;
    left: 250px;
    bottom: 70px;
}

.profile_role_logo{
    height: 25px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 100%;
}

.profile_role_title{
    display: inline-block;
    position: relative;
    left: 10px;
    bottom: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}

.profile_role_content{
    display: inline-block;
    position: relative;
    right: 50px;
    bottom: 2.5px;

    font-family: 'Poppins';
    font-style: normal;
}

.profile_telepon{
    display: inline-block;
    position: relative;
    left: 95px;
}

.profile_telepon_logo{
    height: 25px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 100%;
}

.profile_telepon_nomor{
    display: inline-block;
    position: relative;
    margin-left: 5px;
    bottom: 15px;

    font-family: 'Poppins';
    font-style: normal;
}

.profile_email{
    display: inline-block;
    position: relative;
    left: 300px;
    bottom: 70px;
}

.profile_email_logo{
    height: 25px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 100%;
}

.profile_email_address{
    display: inline-block;
    position: relative;
    margin-left: 5px;
    bottom: 15px;

    font-family: 'Poppins';
    font-style: normal;
}

.profile_NIK_NIP{
    display: inline-block;
    position: relative;
    left: 130px;
}

.profile_NIK_NIP_logo{
    height: 25px;
    padding: 5px;

    border: 2px solid black;
    border-radius: 100%;
}

.profile_NIK_NIP_nomor{
    display: inline-block;
    position: relative;
    margin-left: 5px;
    bottom: 15px;

    font-family: 'Poppins';
    font-style: normal;
}

.profile_info_content{
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.profile_info_title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.profile_info_subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.profile_info_tanggal_lahir_div{
    margin-top: 15px;
    margin-bottom: 15spx;
}

.profile_info_tanggal_logo{
    height: 30px;
}

.profile_info_tanggal_title{
    margin-left: 20px;
    display: inline-block;
    position: relative;
    bottom: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.profile_info_tanggal_value{
    margin-left: 100px;
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-top: 2.5px;
    width: 290px;
    height: 30px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.profile_info_tanggal_lahir_tambahan{
    display: inline-block;
    position: relative;
    margin-left: 10px;
    bottom: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.profile_info_rekam_medis_value{
    margin-left: 100px;
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-top: 2.5px;
    width: 290px;
    height: 30px;
    
    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.profile_info_tinggi_badan_value{
    margin-left: 100px;
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-top: 2.5px;
    
    width: 290px;
    height: 30px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.profile_info_berat_badan_value{
    margin-left: 105px;
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-top: 2.5px;
    width: 290px;
    height: 30px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.profile_info_golongan_darah_value{
    margin-left: 72.5px;
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-top: 2.5px;
    width: 290px;
    height: 30px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

/*
For Settings page
sharing with : konsultasi
shared with : about, pasien, pembayaran
*/

.settings_option_base{
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.settings_dark_mode_image{
    height: 30px;
}

.settings_dark_mode_title{
    position: relative;
    left: 70px;
    bottom: 35px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.settings_dark_mode_subtitle{
    position: relative;
    left: 70px;
    bottom: 35px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.settings_dark_mode_input_base {
    position: relative;
    bottom: 20px;
    left: 70px;
    margin-top: 2.5px;
}

.settings_dark_mode_input {
    width: 130px;
    height: 30px;

    border: 2px solid #B8B8B8;
    border-radius: 8px;
}

.settings_language_input_base {
    position: relative;
    bottom: 20px;
    left: 70px;
    margin-top: 2.5px;
}

.settings_language_input {
    width: 130px;
    height: 30px;

    border: 2px solid #B8B8B8;
    border-radius: 8px;
}

/*
For About page
sharing with : settings, konsultasi
*/


/*
For pasien page
sharing with : konsultasi
*/

.pasien_content{
    padding: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.pasien_content_title{
    margin-bottom: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.pasien_content_poliklinik_input_base{
    margin-bottom: 30px;
}

.pasien_content_poliklinik_input {
    width: 275px;
    height: 30px;

    border: 2px solid #B8B8B8;
    border-radius: 8px;
}

.pasien_content_table_base{
    width: 70%;
    border-collapse: collapse;
}

.pasien_content_table_header{
    text-align: center;
    padding: 10px;
    border: 1px solid black;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.pasien_content_table_row{
    padding: 10px;
    text-align: center;
    

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.pasien_content_table_end{
    border-bottom: 1px solid black;;
}

.pasien_content_table_row_button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.pasien_content_table_row_button_logo{
    height: 30px;
}

.pasien_content_table_row_each{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.pasien_content_table_row_without_right{
    padding: 10px;
    text-align: center;
    border-left: 1px solid black;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.pasien_content_table_row_each_final{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#pasien_content_active{
}

#pasien_content_inactive{
    visibility: hidden;
}

/*
For pembayaran page
sharing with : settings, konsultasi
*/

.pembayaran_title{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.pembayaran_title_logo{
    height: 40px;
}

.pembayaran_title_text{
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-left: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.pembayaran_isi_base{
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background: #FFFFFF;
    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.pembayaran_isi_details_base{

}

.pembayaran_isi_details{

}

.pembayaran_isi_details_title{
    display: inline-block;
    color: #7E7D7D;
    margin-bottom: 5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.pembayaran_isi_details_harga{
    display: inline-block;
    float: right;
    color: #7E7D7D;
    margin-bottom: 5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.pembayaran_isi_total_title{
    display: inline-block;
    margin-top: 5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.pembayaran_isi_total_harga{
    display: inline-block;
    float: right;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.pembayaran_jenis{

}

.pembayaran_jenis_logo{
    height: 30px;
}

.pembayaran_jenis_title{
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-left: 10px;
}

.pembayaran_jenis_custom_select {
    float: right;
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

.pembayaran_jenis_custom_select[open] {
	z-index: 1;
}

.pembayaran_jenis_radios {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

.pembayaran_jenis_radios::-webkit-details-marker {
	display: none;
}

.pembayaran_jenis_custom_select[open] .pembayaran_jenis_radios:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

.pembayaran_jenis_radios:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

.pembayaran_jenis_radios:focus {
	outline: none;
}

.pembayaran_jenis_custom_select[open] .pembayaran_jenis_radios:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

.pembayaran_jenis_list {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

.pembayaran_jenis_sublist {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

.pembayaran_jenis_sublist:first-child {
	padding-top: 0;
}

.pembayaran_jenis_sublist:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

.pembayaran_jenis_radios.radios {
	counter-reset: radios;
}

.pembayaran_jenis_radios.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

.pembayaran_jenis_list.list {
	counter-reset: labels;
}

.pembayaran_jenis_label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

.pembayaran_jenis_label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}


/*
For buat janji page
sharing with : pasien
*/

.janji_btn_base {
    float: left;
    width: 330px;
    height: 460px;
    padding: 10px;
}

.janji_poli_btn {
    font-size: xx-large;
    width: 330px;
    height: 90px;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.janji_poli_btn:hover{
    cursor: pointer;
}

.janji_poli_btn:focus{
    background: #b5cbeb63;
    border: 2px solid #b5cbeb63;
}

.janji_labo_btn {
    font-size: xx-large;
    width: 330px;
    height: 90px;
    margin-top: 20px;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.janji_labo_btn:hover{
    cursor: pointer;
}

.janji_labo_btn:focus{
    background: #b5cbeb63;
    border: 2px solid #b5cbeb63;
}

.janji_fisi_btn {
    font-size: xx-large;
    width: 330px;
    height: 90px;
    margin-top: 20px;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.janji_fisi_btn:hover{
    cursor: pointer;
}

.janji_fisi_btn:focus{
    background: #b5cbeb63;
    border: 2px solid #b5cbeb63;
}

.janji_content_poliklinik {
    padding: 40px;
    float: left;
    margin-left: 30px;
    width: 870px;
    height: 450px;

    background-color: rgba(255, 255, 255, 0.3);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.janji_content_laboratorium {
    display: none;
    padding: 40px;
    float: left;
    margin-left: 30px;
    width: 870px;
    height: 450px;

    background-color: rgba(255, 255, 255, 0.3);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.janji_content_fisioterapi {
    display: none;
    padding: 40px;
    float: left;
    margin-left: 30px;
    width: 870px;
    height: 450px;

    background-color: rgba(255, 255, 255, 0.3);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.janji_nama_pasien{
    margin-top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.janji_jenis_input_base {
    margin-top: 2.5px;
}

.janji_jenis_surat{
    width: 880px;
    height: 35px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.janji_cari_button {
    display: inline-block;
    position: relative;
    left: 350px;
    box-sizing: border-box;
    margin-top: 30px;
    color: black;
    width: 20%;
    height: 40px;

    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    background: #FF8A8A;
    border: 2px solid #FF8A8A;
    border-radius: 5px;
}

.janji_cari_button:hover {
    cursor: pointer;
    animation-name: rujukan_button_ani;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.janji_tanggal_input {
    width: 875px;
    height: 30px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.janji_tanggal_input_base {
    margin-top: 2.5px;
}

/*
For data page
sharing with : konsultasi
*/

.data_title {
    font-family: 'Poppins';
    text-align: center;
    font-weight: 600;
    color:#3988FF;
}

.data_heading {
    font-family: 'Poppins';
    font-weight: 1000;
    margin-top: 50px;
    margin-bottom: 50px;
}

.data_grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; 
}

.data_subheading {
    text-decoration: underline;
    font-family: 'Poppins';
}

.data_body {
    font-family: 'Poppins';
}

.data_calendar_grid{
    display: grid;
    height: 380px;
    margin-top: 50px;
    
    grid-template-columns: 140px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
}

.schedule_calendar_grid_container_content_libur{
    color:#ff4747;
}

/*
For feedback page
sharing with : konsultasi, pembayaran
*/

.feedback_title{
    margin-top: 30px;
    
    margin-left: 100px;
    margin-right: 100px;
}

.feedback_title_logo{
    height: 40px;
}

.feedback_title_text{
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin-left: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.feedback_isi_base{
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px;
    background: #FFFFFF;
    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

.feedback_isi_details_base{

}

.feedback_isi_details{

}

.feedback_isi_details_title{
    display: inline-block;
    position: relative;
    color: black;
    margin-bottom: 5px;
    bottom: 15px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.feedback_isi_details_rating{
    display: inline-block;
}

.rate {
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.feedback_comment_input_base {
    margin-top: 2.5px;
    margin-left: 100px;
    margin-right: 100px;
}

.feedback_comment_input {
    width: 100%;
    height: 125px;

    border: 2px solid #B5CBEB;
    border-radius: 8px;
}

/*
For Obat Page
*/

.obat_hr {
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0.5px solid #3988FF;
}

.obat_heading {
    font-family: 'Poppins';
    font-weight: 600;
}

.obat_subheading {
    font-family: 'Poppins';
}

.obat_body {
    font-family: 'Poppins';
    color:#5f807b;
}

.obat_right {
    float: right;
}

.obat_tab {
    margin-top: 4px;
    margin-left: 58px;
}

/*
    history page
*/

.history_content{
    margin-top: 20px;
    padding: 40px;
    height: 350px;

    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.history_jangka_waktu_base{
    position: relative;
    left: 950px;
    width: 200px;
}

.history_jangka_waktu_title{
    position: relative;
    margin-bottom: 10px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #3988FF;
}

.history_jangka_waktu_custom_select[open] {
	z-index: 1;
}

.history_jangka_waktu_radios {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: #ddd;
	list-style: none;
}

.history_jangka_waktu_radios::-webkit-details-marker {
	display: none;
}

.history_jangka_waktu_custom_select[open] .history_jangka_waktu_radios:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

.history_jangka_waktu_radios:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

.history_jangka_waktu_radios:focus {
	outline: none;
}

.history_jangka_waktu_custom_select[open] .history_jangka_waktu_radios:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

.history_jangka_waktu_list {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

.history_jangka_waktu_sublist {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

.history_jangka_waktu_sublist:first-child {
	padding-top: 0;
}

.history_jangka_waktu_sublist:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

#history_jangka_waktu_default{
    font-family: 'Poppins';
}

/* FAKE SELECT */

.history_jangka_waktu_radios.radios {
	counter-reset: radios;
}

.history_jangka_waktu_radios.radios:before {
	content: var(--selection);
}

input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

input[type=radio]:checked {
	display: inline;
	--display: block;
}

input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

.history_jangka_waktu_list.list {
	counter-reset: labels;
}

.history_jangka_waktu_label {
    font-family: 'Poppins';
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

.history_jangka_waktu_label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}

/*
    laporan page
*/

.laporan_main_base{
    float: left;
    width: 1000px;
    height: 570px;
    
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.laporan_main_content{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.laporan_list_base{
    float: left;
    margin-left: 30px;
    width: 330px;
    height: 90px;

    background-color: #B5CBEB;
    border-radius: 8px;
}

.laporan_list_base:hover {
    cursor: pointer;
}

.laporan_list_header{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: 'Poppins';
}

.laporan_main_boxtitle {
    margin-top: 15px;
    font-family: 'Poppins';
}

.laporan_list_body{
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 10px;
}

.laporan_main_title {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    color: #3988FF;
}

.laporan_list_dropdownarrow {
    margin-left: 50px;
    width: 20px;
    height: 12px;
}

.laporan_main_polinap {
    display: inline-block;
}

.laporan_main_poli {
    float: left;
    margin-top: 20px;
    margin-left: 190px;
    width: 270px;
    height: 132px;

    background-color: #C9EEB2;
    border-radius: 8px;

    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
}

.laporan_main_poli:hover {
    cursor: pointer;
}

.laporan_main_inap {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    width: 270px;
    height: 132px;

    background-color: #A98AFF;
    border-radius: 8px;

    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
}

.laporan_main_inap:hover {
    cursor: pointer;
}

.laporan_main_num {
    font-size: 20px;
    font-family: 'Poppins';
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    font-size: 40px;
}

.laporan_main_grid_base {
    margin-left: 50px;
    margin-top: 200px;
}

.laporan_main_grid {
    display: grid;
    height: 380px;
    margin-top: 50px;

    grid-template-columns: 210px 210px 210px 210px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px;
}

.laporan_main_grid_container_content {
    font-family: 'Poppins';
    margin: 10px;
    margin-top: 10px;
    text-align: center;
}

.schedule_calendar_grid_container_top {
    border: 0.1px solid black;
    background-color: #C9EEB2;
    text-align: center;
    font-weight: 600;
}

.laporan_main_grid_container_content_diagnosis {
    text-decoration: underline;
    font-style: italic;
}

.laporan_main_grid_container_content_diagnosis:hover {
    cursor: pointer;
}

/*
For Testing
*/